---
layout: "default"
---
patterns = [{name: "Bokeh Sunrise", slug: "bokeh_sunrise", animate: false}, {name: "Fertility", slug: "fertility", animate: false}, {name: "Freedom", slug: "freedom", animate: false}, {name: "Hammerzeit", slug: "hammerzeit", animate: false}, {name: "Marching Waves", slug: "marching_waves", animate: false}, {name: "Orbital Station", slug: "orbital_station", animate: false}, {name: "Place Reversal", slug:"place_reversal", animate: false}, {name: "Pulsar", slug: "pulsar", animate: true}, {name:"Simple Path", slug: "simple_path", animate: false}]


.topbar.glowtext
	i.icon-chevron-left.pull-left
	._title.text-center.center
		|SPARKLEMOTION
	i.icon-reorder.pull-right

.patterns.glowtext
	each pattern in patterns
		.pattern
			if (pattern.animate)
				img._animation(src="images/#{pattern.slug}.gif")
			else 
				img._animation(src="images/#{pattern.slug}_still.gif")
			img._still(src="images/#{pattern.slug}_still.gif")
			._title 
				div #{pattern.name}

